{% import 'yaml-config.jinja2' as m %}

{{- m.jenkins()|trim }}

# Repository location (remote or local)
repo: file:///tmp/project-repo/

{{ m.scmlogin()|trim }}

{{ m.template()|trim }}

# Character with which to replace '/' in ref names
namesep: '-'

# Template string for new job names
# The following placeholders are available:
#   {ref}      -> expands to full ref name
#   {shortref} -> expands to the short ref name
#   {n}        -> nth backreference of the ref regex
namefmt: '{shortref}'

{{ m.overwrite()|trim }}

{{ m.enable()|trim }}

{{ m.substitute()|trim }}

{{ m.sanitize()|trim }}

# List of refs to ignore (regular expressions).
ignore:
  - 'refs/heads/feature/.*-nobuild'
  - 'refs/heads/scratch/.*'

{{ m.view()|trim }}

{{ m.tag()|trim }}

# Maps ref names (regular expressions) to config dictionaries that may
# overwrite any of the previously specified options. Defaults to
# "refs: '.*'".
refs:
  - 'refs/heads/release/(.*)'
  - 'refs/heads/feature/(.*)'
  - 'refs/heads/scratch/(.*)':
      'template': 'scratch-template'
      'namefmt':  'wip-{shortref}'
      'enable':   false
      'view':     'scratch-view'
      'tag':      'group-1'

{{ m.cleanup()|trim }}
