{% import 'yaml-config.jinja2' as m %}

{{- m.jenkins()|trim }}

# Repository urls
repo: file:///tmp/repo/
branches:
  - file:///tmp/repo/branches/
  - file:///tmp/repo/experimental/
  - file:///tmp/repo/releases/

{{ m.scmlogin()|trim }}

{{ m.template()|trim }}

# Character with which to replace '/' in branch names
namesep: '-'

# Template string for new job names
# The following placeholders are available:
# Given a branch file:///tmp/repo/branches/feature-one
#   {branch} -> expands to the name of the branch (feature-one)
#   {path}   -> expands to the full path to the branch, relative to
#               the repository root (branches/feature-one)
#   {n}      -> nth backreference of the branch regex
namefmt: '{branch}'

{{ m.overwrite()|trim }}

{{ m.enable()|trim }}

{{ m.substitute()|trim }}

{{ m.sanitize()|trim }}

# List of branches to ignore (regular expressions)
ignore:
  - 'branches/.*-nobuild'
  - 'experimental/john/.*'

{{ m.view()|trim }}

{{ m.tag()|trim }}

# Maps branch names (regular expressions) to config dictionaries that
# may overwrite any of the previously specified options. Defaults to
# "refs: '.*'".
refs:
  - 'branches/(.*)'
  - 'releases/(.*)':
      'template': 'release-template'
      'namefmt':  'release-{short}'
      'enable':   false
      'view':     'release-view'
      'tag':      'group-1'

{{ m.cleanup()|trim }}
